.interest-payment-table
{
    display: inline-block;
    width:1000px;
}

/* 设置表头格式 */
.interest-payment-table .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr
{
    height: 30px;
    border-radius: 2px;
    background-image: linear-gradient(93deg, #77beff, #428fff);
}

.interest-payment-table .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th
{
    padding: 0;
    border: none;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background: transparent;
    color: #ffffff;
}


/* 设置单元格格式 */
.interest-payment-table .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td
{
    padding: 0;
    border: none;
}

.interest-payment-table-row-one
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #656565;
    height: 30px;
    padding: 0;
    background-color: #ffffff;
}

.interest-payment-table-row-two
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #656565;
    height: 30px;
    padding: 0;
    background-color: #f9f9f9;
}

.interest-payment-collect-button
{
    padding: 0;
    border:none;
    background:transparent;
}

.interest-payment-collect-button:hover
{
    background:transparent;
}
.interest-payment-collect-button:focus
{
    background:transparent;
}
.interest-payment-collect-button:active
{
    background:transparent;
}

/* 设置底部分页行格式 */
.interest-payment-total
{
    display: inline-block;
    padding-left:15px; 
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}
.interest-payment-pagination
{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-top: 7px;
}

.interest-payment-pagination .ant-pagination-options
{
    float: right;
}
  