.menu-title{
    width: 70px;
    height: 20px;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5f5f5f;
}

.menu-head{
    width: 196px;
    height: 20px;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #afafaf;
    margin-top: -15px;
    margin-bottom: 27px;
}

.menu-body-one{
    /* width: 53px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #afafaf;
    border-radius: 4px;
    border: solid 1px #d4d4d4;
    background-color: #868686; */
    margin-bottom: 20px;
}

.menu-body-one-text{
    border-radius: 4px;
    border: solid 1px #d4d4d4;
    background-color: #f2f2f2;
    width: 63px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #afafaf;
    margin-left: 1px;
    margin-right: 14px;
}

.menu-body-two{
    margin-bottom: 41px;
}

.menu-body-two-text{
    border-radius: 4px;
    border: solid 1px #d4d4d4;
    background-color: #f2f2f2;
    width: 93px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #afafaf;
    margin-left: 1px;
    margin-right: 14px;
}

/* .menu-ensure{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: #e1e1e1;
} */

.menu-ensure-text{
    width: 100px;
    height: 30px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}