.returnpassword-head{
    margin: 0 5px 0 5px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
}

.returnpassword-body{
    margin: 0 5px 0 5px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    background-color: #ffffff;
    border-top: 0;
    margin-bottom: 10px;
}

.returnpassword-header-solid-line{
    width: 4px;
    height: 18px;
    border-radius: 2.5px;
    background-image: linear-gradient(170deg, #77beff, #428fff);
}

.returnpassword-header-solid{
    height: 20px;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5b5b5b;
}

.returnpassword-steps-content {
    margin-top: 16px;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
}
  
.returnpassword-steps-action {
    margin-top: 24px;
    text-align: center;
}

.returnpassword-all .ant-steps{
    /* display: inline-block; */
    display: flex;
}

.returnpassword-all .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 40px;
}
/* .returnpassword-all .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    margin-right: 16px;
    background-color: whitesmoke;
} */

.returnpassword-all .ant-btn-primary{
    width: 300px;
}

.previous{
    width: 300px;
    margin-top: 10px;
    border: 0;
    color: #4390ff;
}

