.basic-condition-title-span{
  display:inline-block;
  vertical-align: middle;
  width:4px;
  height:18px;
  border-radius:2px;
  background-image:linear-gradient(170deg, #77beff, #428fff);
}

.basic-condition-title
{
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
  margin-left:6px;
  vertical-align: middle;
}
.basic-condition-table-col-one
{
  width:17%;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5f5f5f;
  background-color: #f6f6f6;
  padding: 12px 0 0 12px;
}
.basic-condition-table-col-two
{
  width:33%;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5f5f5f;
  background-color: #ffffff;
  padding: 12px 0 0 12px;
}