.searchleft{
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 -2px 6px 0 rgba(221, 221, 221, 0.5);
    background-color: #ffffff;
}

.searchleft-header-title{
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5b;
    margin-left: 6px;
}

.searchleft-title
{
    margin-top: 10px;
    padding-top: 10px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.searchleft-text
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
}

.searchleft .ant-checkbox-inner
{
    height: 20px;
    width: 20px;
}

.searchleft-button
{
    display: inline-block;
    border-radius: 2px;
    border:none;
    box-shadow: 0 -2px 6px 0 rgba(221, 221, 221, 0.5);
    background-color: #ffffff;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
}

.searchleft-button:hover
{
    color: #74aff4;
}

.searchleft-button:focus
{
    color: #4e4e4e;
}

.searchleft-button:active
{
    color: #387fda;
}


