.returnpassword-top {
    width: 100%;
    height: 50px;
    position:absolute;
    top:0;
}

.returnpassword-bottom{
    width:100%;
    height:30px;
    position:absolute;
    bottom:0;
    /*以上设置是重点必须的*/
    text-align:center;
    line-height:30px;
}

.returnpassword-mainBox{
    width:100%;
    position:absolute;
    top:50px;
    bottom:30px;
    /*以上设置是重点必须的*/
    background: #f2f2f2;
    padding: 10px;
}

.returnpassword-head{
    margin: 0 5px 0 5px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
}

.returnpassword-body{
    margin: 0 5px 0 5px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    background-color: #ffffff;
    border-top: 0;
    margin-bottom: 10px;
}

.returnpassword-header-solid-line{
    width: 4px;
    height: 18px;
    border-radius: 2.5px;
    background-image: linear-gradient(170deg, #77beff, #428fff);
}

.returnpassword-header-solid{
    height: 20px;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5b5b5b;
}

.returnpassword-steps-content {
    margin-top: 16px;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
}
  
.returnpassword-steps-action {
    margin-top: 24px;
    text-align: center;
}

.returnpassword-all .ant-steps{
    /* display: inline-block; */
    display: flex;
}

.returnpassword-all .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 40px;
}
/* .returnpassword-all .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    margin-right: 16px;
    background-color: whitesmoke;
} */

.returnpassword-all .ant-btn-primary{
    width: 300px;
}

.previous{
    width: 300px;
    margin-top: 10px;
    border: 0;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4390ff;
}

.get-safty{
    width: 113px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #c2d9fb;
    background-image: linear-gradient(112deg, #77beff, #428fff);
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.ensure-change{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #c2d9fb;
    background-image: linear-gradient(112deg, #77beff, #428fff);
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;  
}

.change-succeed{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #c2d9fb;
    background-image: linear-gradient(112deg, #77beff, #428fff);
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; 
}

.email{
    margin-bottom:20px;
}

.email-all{
    width:300px;
    border:0;
    text-align:left;
    display:inline-block;
}

.email-name{
    padding:5px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.email-number{
    padding:4px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.success{
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #545454;
}

/* .returnpassword-all .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item{
    margin-right: 4px;
    white-space: nowrap;
    background-color: #f2f2f2;
    text-align: center;
    width: 235px;
}

.returnpassword-all .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-process{
    box-shadow: 0 2px 4px 0 #c2d9fb;
    background-image: linear-gradient(98deg, #77beff, #428fff);
    box-shadow: 0 1px 1px 0 #c2d9fb;
}

.returnpassword-all .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-finish{
    background-color: #9aa5b6;
    box-shadow: 0 1px 1px 0 #9aa5b6;
} */

/* .returnpassword-all .ant-steps-item-title:after {
    content: '';
    width: 9999px;
    background: #e8e8e8;
    display: block;
    position: absolute;
    top: 16px;
    left: 100%;
    height: 0;
} */

/* process  */
/* wait box-shadow: 0 1px 1px 0 #f0f0f0;
finish  */

.returnpassword-all .ant-steps-item-icon{
    border:0;
}

.returnpassword-all .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color:#ffffff;
}

.returnpassword-all .ant-steps-item-process .ant-steps-item-icon{
    /* box-shadow: 0 1px 1px 0 #c2d9fb; */
    background-image: linear-gradient(98deg, #77beff, #428fff);
}

.returnpassword-all .ant-steps-item-wait .ant-steps-item-icon{
    /* box-shadow: 0 1px 1px 0 #f0f0f0; */
    background-color: #f0f0f0;
}

.returnpassword-all .ant-steps-item-finish .ant-steps-item-icon{
    /* box-shadow: 0 1px 1px 0 #9aa5b6; */
    background-image: linear-gradient(98deg, #77beff, #428fff);
}