.abs-depth-data-title-span{
  display:inline-block;
  vertical-align: middle;
  width:4px;
  height:18px;
  margin-left:10px;
  border-radius:2px;
  background-image:linear-gradient(170deg, #77beff, #428fff);
}

.abs-depth-data-title
{
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
  margin-left:6px;
  vertical-align: middle;
}

.abs-depth-data-anchor
{
  padding: 0 10px 90px 3px;
  overflow: hidden;
  margin-left: 3px;
}
/* 去掉左边本身竖线样式 */
.abs-depth-data-anchor .ant-anchor-ink:before
{
  width:0;
}

.abs-depth-data-anchor .ant-anchor-ink-ball.visible
{
  display: none;
}

.abs-depth-data-anchor .ant-anchor-link
{
  margin: 10px 0 0 0;
  padding: 0;
  background-color: #efefef;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: normal;
  text-align: center;
  color: #8d8d8d;
  border-radius: 2px;
}

.abs-depth-data-anchor .ant-anchor-link-active
{  
  text-decoration: none;
  background-image: linear-gradient(103deg, #77beff, #428fff);
}

.abs-depth-data-anchor .ant-anchor-link-active>a
{
  color: #ffffff;
  text-decoration: none;
}
