.register-form-title-span{
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 18px;
    margin-top: 5px;
    margin-left: 18px;
    border-radius: 2px;
    background-image:linear-gradient(170deg, #77beff, #428fff);
}

.register-form-title
{
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    font-family: PingFangSC;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.register-form-title-en
{
    padding-left: 27px;
    font-family: AppleMyungjo;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
 }
 .register-form
 {
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
 }

 .register-form .ant-form-item
 {
     margin-bottom: 0;
     height: 20%;
 }

 .register-form-input
{
    width:90%;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #77beff;
    background: none;
    outline: none;
}

.register-form-input .ant-input
{
    padding-left: 42px !important;
    background: transparent;
    border:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
}

.register-form-input .ant-input:hover
{
    border:none;
    border-bottom: 1px solid #77beff;
    border-radius: 0;
    color:#77beff;
    box-shadow: none;
}

.register-form-input .ant-input:active
{
    border:none;
    border-bottom: 1px solid #77beff;
    border-radius: 0;
    color:#77beff;
    box-shadow: none;
}
.register-form-input .ant-input:focus
{
    border:none;
    border-bottom: 1px solid #77beff;
    border-radius: 0;
    color:#77beff;
    box-shadow: none;
}

.register-form-sex
{
    display: inline-block;
    padding-left: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.register-form-sex-select
{
    display: inline-block;
}

.register-form-sex-select .ant-select-selection
{
    background: transparent;
    border:none;
    color:rgba(255, 255, 255, 0.65)
}

.register-form-sex-select .ant-select-selection:hover
{
    border:none;
    box-shadow: none;
}
.register-form-sex-select .ant-select-selection:active
{
    border:none;
    box-shadow: none;
}
.register-form-sex-select .ant-select-selection:focus
{
    border:none;
    box-shadow: none;
}

.register-form-sex-select .ant-select-arrow-icon
{
    color:rgba(255, 255, 255, 0.65)
}

.register-form-verify-button
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 35px;
    border-radius: 4px;
    border: none;
    background: none;
    background-image: linear-gradient(112deg, #77beff, #428fff);
}
.register-form-verify-button:hover
{
    color: #ffffff;
    background:#428fff;
}
.register-form-verify-button:focus
{
    color: #ffffff;
    background-image: linear-gradient(112deg, #77beff, #428fff);
}
.register-form-verify-button:active
{
    color: #ffffff;
    background-image: linear-gradient(112deg, #77beff, #428fff);
}

.register-form-agreement
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.register-form-agreement .ant-checkbox-wrapper
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.register-form-register-button
{
    width: 100%;
    height: 36px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background:none;
    border:none;
    border-radius: 18px;
    background-image: linear-gradient(99deg, #77beff, #428fff);
}

.register-form-register-button:hover
{
   color: #ffffff;
   background:#428fff;
   border:none;
}

.register-form-register-button:focus
{
   color: #ffffff;
   background-image: linear-gradient(99deg, #77beff, #428fff);
   border:none;
}

.register-form-register-button:active
{
   color: #ffffff;
   background-image: linear-gradient(99deg, #77beff, #428fff);
   border:none;
}

.register-form-back-homepage-button
{
    padding:0 0 0 16px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4390ff;
    background: transparent;
    box-shadow: none;
    border: none;
}
.register-form-back-homepage-button:hover
{
    color: #4390ff;
    background: transparent;
}

.register-form-back-homepage-button:focus
{
    color: #4390ff;
    background: transparent;
}

.register-form-back-homepage-button:active
{
    color: #4390ff;
    background: transparent;
}

.register-form-versions
{
    padding-right: 20px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.register-top-text
{
    display: inline-block;
    margin-left: 6px;
    font-family: STSongti-SC;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.2));
}