.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-div{
    width: 350px;
    height: 240px;
    border: 1px solid lightblue;
    padding: 10px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}

.top {
  width: 100%;
  height: 50px;
  position:absolute;
  top:0;
}
.bottom{
  width:100%;
  height:30px;
  position:absolute;
  bottom:0;
  /*以上设置是重点必须的*/
  /* text-align:center;
  line-height:40px; */
}
.mainBox{
  width:100%;
  position:absolute;
  top:50px;
  bottom:30px;
  /*以上设置是重点必须的*/
  /* background: #f2f2f2;
  padding: 10px; */
}
.mainBox .leftBox{
  height:100%;
  /* width:340px; */
  float:left;
  margin-bottom:30px;
  overflow: auto;
  /*以上设置是重点必须的*/
}
.mainBox .rightBox{
  height:100%;
  /* margin-left:350px; */
  margin-bottom:30px;
  overflow: auto;
}
